.viewVerClientes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dinheiroFormatado {
  all: unset;
  box-sizing: border-box;
  font-weight: bold;
}

.modalDeDeletar {
  height: 50%;
  width: 60%;
}
