.fundo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.janela {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
  min-height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 1rem;
}

.areaAcao {
  display: flex;
  justify-content: end;
  align-items: top;
}
.botaoFechar {
  all: unset;
  font-size: 1.5rem;
}
.botaoFechar :hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}
