.header {
  width: 100%;
  height: 50px;
  background-color: #8b0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header a {
  text-decoration: none;
  color: var(--soft-white);
  font-size: 1.2rem;
  transition: 0.3s;
  border-radius: 1.5rem;
  padding-top: 5px;
  transition: all 0.3s ease 0s;
}

.header a:hover {
  transform: translateY(-7px);
}

.logotipo {
  font-size: 6rem;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}
.navLinks {
  display: flex;
  gap: 1rem;
}
