.header{
    width: 100%;
    height: 50px;
    background-color: rgb(139, 8, 8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header a{
    text-decoration: none;
    color: var(--soft-white);
    padding-inline: 1rem;
    font-size: 1.5rem;
    transition: 0.3s;
    border-radius: 1.5rem;
    padding-top: 5px;
}