:root {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: rgb(29, 1, 156);
  --secondary: rgb(4, 149, 185);
  --terciary: rgb(4, 76, 172);
  --black-back: rgb(31, 31, 31);
  --soft-white: rgb(245, 246, 226);
  --contrary: rgb(37, 219, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select {
  width: 15rem;
}

input {
  outline: 2px solid rgb(144, 143, 143);
  border: none;
  background-color: #eee;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 15rem;
  height: 2rem;
  box-shadow: 0 0.4rem #dfd9d9;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

input:focus {
  outline-color: lightcoral;
}

label {
  margin: 0.3rem;
}

body {
  min-height: 100vh;
}
html,
body {
  height: 100%;
  margin: 0;
}

button {
  background: none;
}

